services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: springboot-app
    env_file:
      - .env.local
    depends_on:
      - db
    ports:
      - "8081:8080"
    networks:
      - springboot-net

  db:
    image: postgres:15
    container_name: postgres-db-chatting
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5433:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - springboot-net

volumes:
  postgres-data:

networks:
  springboot-net:
